__pycache__/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W4/Lab/data/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W4/Assignment/data
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W5/Lab/tensorflow_datasets/

