__pycache__/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W4/Lab/data/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W4/Assignment/data
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W5/Lab/tensorflow_datasets/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W5/Lab/*.h5
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W5/Lab/saved_model/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W5/Lab/log_dir/
/C1-Custom_Models_Layers_and_Loss_Functions_with_TensorFlow/W5/Lab/*.csv
/C2-Custom_and_Distributed_Training_with_TensorFlow/W3/Assignment/data
/C2-Custom_and_Distributed_Training_with_TensorFlow/W4/Lab/data/
/C2-Custom_and_Distributed_Training_with_TensorFlow/W4/Assignment/data/
/C2-Custom_and_Distributed_Training_with_TensorFlow/W4/Assignment/tmp/
/C2-Custom_and_Distributed_Training_with_TensorFlow/W4/Assignment/mymodel.zip
/C3-Advanced_Computer_Vision_with_TensorFlow/W1/Assignment/data/
/C3-Advanced_Computer_Vision_with_TensorFlow/W1/Assignment/*.zip
/C3-Advanced_Computer_Vision_with_TensorFlow/W1/Assignment/*.h5
/C3-Advanced_Computer_Vision_with_TensorFlow/W3/Assignment/*.h5
/C4-Generative_Deep_Learning_with_TensorFlow/W3/Assignment/images/
/C4-Generative_Deep_Learning_with_TensorFlow/W3/Assignment/*.zip
/C4-Generative_Deep_Learning_with_TensorFlow/W3/Assignment/model/
/C4-Generative_Deep_Learning_with_TensorFlow/W4/Assignment/*.zip

